/*                            Global                                   */

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
    background-image: url(img/background-image.jpg);
}

/*                            Side-bar                                   */

.left-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(4, min-content) 1fr;
    row-gap: 30px;
    justify-items: center;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    margin: 40px 0px 10px;
    border-bottom: 2px solid black;
}

.material-symbols-outlined {
    transform: scale(1.5);
    margin-right: 5px;
}

.left-side-button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    border: 2px solid black;
}

#new-book {
    display: block;
    background-color: #b2dcc7;
    color: black;
}

#remove-all {
    background-color: #dcb2b2;
    color: black;
    display: block;
}

.meta-data {
    font-size: 25px;
    background-color: #D8C3A8;
    border-radius: 10px;
    border: 2px black solid;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
    row-gap: 10px;
}

.meta-total,
.meta-read,
.meta-not-read {
    justify-self: center;
}

.align-right {
    justify-self: right;
}

.total,
.align-right {
    font-weight: bold;
}

/*                            Book Container                                   */

.book-container {
    grid-column: 2 / 3;
    padding: 85px 30px;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 30px;
    grid-auto-rows: min-content;
}

.card {
    height: min-content;
    width: 300px;
    background-color: #D8C3A8;
    border: solid 2px #000000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}

.card-item {
    margin: 20px 0px;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-button {
    font-size: 15px;
    width: 100px;  
}

.read-book-true{
    background-color: #b2dcc7;
}

.read-book-false{
    background-color: #dcb2b2;
}

.read-book-true::before {
    content: "Read";
}

.read-book-false::before {
    content: "Not Read";
}

.remove-button {
    background-color: #dcb2b2;
    font-size: 15px;
    width: 100px;
    margin: 0px 20px;
}

.remove-button::before {
    content: "Remove";
}

/*                            Form                                   */

#form-wrapper {
    position: fixed;
    width: min-content;
    height: min-content;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto; 
}

form {
    display: none;
    width: min-content;
    height: min-content;
    padding: 25px;
    background-image: url(img/paper.jpg);
    border: black solid 2px;
    row-gap: 20px;
    border-radius: 10px;
    grid-template-rows: repeat(4, min-content);
}

input {
    font-size: 20px;
    border: black solid 1px;
    padding: 7px;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[type="text"],
[type="number"] {
    width: 300px;
}

input[type=number] {
    -moz-appearance:textfield;
}

.button-container {
    justify-self: center;
}

button {
    width: 120px;
    height: min-content;
    padding: 5px 0px;
    font-size: 20px;
    border-radius: 10px;
}

#submit-button {
    margin-right: 20px;
    background-color: #b2dcc7;
}

#cancel-button {
    background-color: #dcb2b2;
}

label {
    display: block;
}

label:not(.radio-lower-label), 
#radio-upper-label {
    font-weight: bold;
    font-size: 25px;
}

.radio-lower-label {
    font-size: 20px;
    display:inline;
}

#radio-upper-label {
    margin-bottom: 5px;
}

#yes {
    margin-right: 20px;
}