body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: relative;
}

form {
    display: none;
    width: min-content;
    height: min-content;
    padding: 25px;
    background-color: #c0c0c0;
    border: black solid 1px;
    row-gap: 20px;
    border-radius: 10px;
    grid-template-rows: repeat(4, min-content);
}

label {
    display: block;
}

.radio-lower-label {
    display:inline;
}

input {
    font-size: 20px;
    border: black solid 1px;
    padding: 7px;
    border-radius: 5px;
}

label:not(.radio-lower-label), 
#radio-upper-label {
    font-weight: bold;
    font-size: 25px;
}

#cancel-button {
    background-color: red;
}

button {
    width: 120px;
    height: min-content;
    padding: 5px 0px;
    font-size: 20px;
    color: white;
    background-color: rgb(145, 145, 254);
    border-radius: 10px;
}

.button-container {
    justify-self: center;
}

#submit-button {
    margin-right: 20px;
}

.radio-lower-label {
    font-size: 20px;
}

#radio-upper-label {
    margin-bottom: 5px;
}

#yes {
    margin-right: 20px;
}

.book-container {
    background-color: rgba(128, 128, 128, 0.315);
    grid-column: 2 / 3;
    padding: 40px;
    border-left: solid black 1px;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: 30px;
    grid-auto-rows: min-content;

}

#new-book {
    display: block;
}

.left-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr;
    padding: 20px;
    row-gap: 20px;
    justify-items: center;
}

.logo {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 40px;
}

.material-symbols-outlined {
    transform: scale(1.5);
    margin-right: 5px;
  }

.card {
    height: min-content;
    width: 300px;
    background-color: white;
    border: solid 1px #000000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 7px 7px 5px -2px rgb(162, 162, 162);
}

.card-item {
    margin: 20px 0px;
    text-align: center;
}

.remove-button {
    background-color: red;
    color: white;
    font-size: 15px;
    width: 100px;
    margin: 0px 20px;
}

.remove-button::before {
    content: "Remove";
}

.read-button {
    color: white;
    font-size: 15px;
    width: 100px;  
}

.read-book-true{
    background-color: green;
}

.read-book-false{
    background-color: grey;
}

.read-book-true::before {
    content: "Read";
}

.read-book-false::before {
    content: "Not Read";
}

#remove-all {
    background-color: red;
    color: white;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[type="text"],
[type="number"] {
    width: 300px;
}

input[type=number] {
    -moz-appearance:textfield;
}

#form-wrapper {
    position: absolute;
    width: min-content;
    height: min-content;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto; 
}